<StackLayout class="map-card-container">
  <StackLayout class="map-card-inner-container">
    <StackLayout class="title-container" orientation="horizontal">
      <FontIcon size="25" margin="4" color="#F24150" name="ion-chatboxes" type="ion"/>
      <Label class="map-card-title" text="Group name"></Label>
    </StackLayout>
    <Label text="Aktivnost: pred nekaj minutami"></Label>
    <Button @tap="onOpenTap()" text="Odpri"></Button>
    <Button @tap="onDeleteTap()" text="Delete"></Button>
  </StackLayout>
</StackLayout>
