// Start custom common variables
@import '../../../app-variables';
// End custom common variables

.map-popover-list-container {
  width: 100%;
}

.map-popover-list-inner-container {
  margin: 15;
  background-color: #ffffff;
  border-radius: 10;
}
