<StackLayout class="map-fabs-container" height="148" orientation="vertical" verticalAlignment="bottom">
  <StackLayout @tap="onCreateTap" v-if="showCreateButton" v-shadow="2" class="map-fab-item" verticalAlignment="center">
    <Image class="map-fab-item-icon" width="25" height="25" src="~/assets/images/create_group_icon.png"></Image>
  </StackLayout>
  <StackLayout @tap="onListTap"  v-shadow="2" class="map-fab-item" verticalAlignment="center">
    <Image class="map-fab-item-icon" width="25" height="25" src="~/assets/images/list_icon.png"></Image>
  </StackLayout>
</StackLayout>
