// Start custom common variables
@import '../../app-variables';
// End custom common variables

// Custom styles
.fa {
  color: $kjersi-green;
}


.action-bar {
  background-color: $kjersi-green;
}

.info {
  font-size: 20;
}

.chat-page-send-icon {
  width: 50;
  height: 50;
  background-color: #f7f7f7;
  padding: 12 12 8 8;
}

.chat-page-input-container {
  background-color: #f7f7f7;
  padding: 5;
}

.chat-page-text-view {
  border-radius: 30;
  background-color: #fff;
  border-width: 1;
  border-color: #eee;
  margin-right: 5;
  padding: 12;
}

.chat-page-header-container {
  border-bottom-width: 2;
  border-bottom-color: #eee;
}

.chat-menu-container {
  background-color: #ffffff;
  border-radius: 15;
  margin: 25;
}

.chat-menu-outer-container {
  margin: 10;
}

.chat-menu-button {
  padding: 0 25 0 25;
  border-bottom-width: 1;
  border-bottom-color: #eee;
  font-family: MuseoSansRounded;
  font-size: 18;
  color: #000;
  height: 65;
}

.chat-menu-button-toggle-container {

}

.chat-menu-button-last {
  border-bottom-width: 0;
}

.message-container {
  padding: 0 15 10 15;
}

.message-me-container {

}

.message-user-name-label {
  font-family: MuseoSansRoundedBold;
  font-size: 12;
  margin: 3 0;
  color: #000000;
}

.message-text-label {
  font-family: MuseoSansRounded;
  color: #000000;
  font-size: 16;
}

.message-text-label-container {
  padding: 15;
  border-radius: 10;
  background-color: #eee;
}

.message-me-text-label-container {
  background-color: #96dec9;
}

.event-label-container {
  padding: 5 0;
  background-color: $kjersi-green;
}

.event-label {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-family: MuseoSansRoundedBold;
  margin-top: 6;
}
