<Page ref="pageContainer" class="page">
  <AbsoluteLayout ref="mapContainer" width="100%" height="100%">
    <MapView :latitude="latitude"
             :longitude="longitude"
             :zoom="zoom"
             :minZoom="minZoom"
             :maxZoom="maxZoom"
             width="100%"
             height="100%"
             @mapReady="onMapReady"
             @coordinateTapped="onCoordinateTapped"></MapView>
    <MapFabs :translateX="screenWidth - 75" :translateY="screenHeight - 170 - 140"></MapFabs>
    <MapCard @tap="onCardTap" :translateY="screenHeight - 170"></MapCard>
  </AbsoluteLayout>
</Page>
