<Page ref="pageRef" class="page">
  <AbsoluteLayout ref="mapContainer" width="100%" height="100%">
    <MapView :latitude="location.latitude"
             :longitude="location.longitude"
             :zoom="zoom"
             :minZoom="minZoom"
             :maxZoom="maxZoom"
             width="100%"
             height="100%"
             @mapReady="onMapReady"
             @coordinateTapped="onCoordinateTapped"></MapView>
    <MapListPopover @closeListTap="onCloseListTap" v-if="currentPageState === PAGE_STATES.LIST"></MapListPopover>
    <MapFabs @listTap="onListTap" @createTap="onCreateTap" v-if="currentPageState === PAGE_STATES.MAP" :translateX="screenWidth - 75" :translateY="screenHeight - 170 - 140"></MapFabs>
    <MapCard v-show="currentPageState === PAGE_STATES.MAP" @tap="onCardTap" :translateY="screenHeight - 170"></MapCard>
  </AbsoluteLayout>
</Page>
