// Start custom common variables
@import '../../app-variables';
// End custom common variables

// Custom styles
.fa {
  color: $accent-dark;
}

.info {
  font-size: 20;
}

.splash-searching-location-label {
  text-align: center;
  font-family: MuseoSansRoundedBold;
  margin-top: -25;
}
